<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>TOTD</title>
</head>
<body>
  <h1 class="text-center"> TRENDS OF THE DAY </h1>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Google</h5>
            <p class="card-text">This is a card for Google Trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Youtube</h5>
            <p class="card-text">This is card for Youtube Trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Twitter</h5>
            <p class="card-text">This is a card for Twitter trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Facebook</h5>
            <p class="card-text">This is a card for facebook trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instagram</h5>
            <p class="card-text">This is card for Instagram Trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tiktok</h5>
            <p class="card-text">This is a card for Tiktok trends.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      {{ bootstrap.load_js() }}
</body>
</html>