<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>TOTD</title>
    <style>
        @keyframes rainbow {
            0%   { color: red; }
            14%  { color: orange; }
            28%  { color: yellow; }
            42%  { color: green; }
            57%  { color: blue; }
            71%  { color: indigo; }
            85%  { color: violet; }
            100% { color: red; }
        }
        h1 {
            padding: 20px; 
            font-size: 50px;
            animation: rainbow 4s linear infinite;
        }
        .footer {
            background-color: #f5f5f5;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Cards for each platform organized by 2 rows of 3 columns -->
    <div class="p-4">
        <h1 class="text-center bg-secondary p-5  rounded-5"> TRENDS OF THE DAY </h1>
    </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/spotify.jpg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spotify</h5>
            <p class="card-text">Top played Artist of the day: {{ spotify }}</p>
            <a href="{{ url_for('spotifyTrends')}}" class="btn btn-primary rounded-5">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/youtube.jpeg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Youtube</h5>
            <p class="card-text">#1 Trending: {{video_title}} </p>
            <a href="{{ url_for('youtube_trends')}}" class="btn btn-primary rounded-5">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/twitter.jpg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Twitter</h5>
            <p class="card-text">Twitter trends coming soon!</p>
            <a href="#" class="btn btn-primary rounded-5" disabled>Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Second row starts -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/Facebook.jpeg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Facebook</h5>
            <p class="card-text">Facebook trends coming soon!</p>
            <a href="#" class="btn btn-primary rounded-5" disabled>Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/instagram.jpg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instagram</h5>
            <p class="card-text">Top Instagram hashtags!</p>
            <a href="{{ url_for('hashtagsTrend')}}" class="btn btn-primary rounded-5" disabled>Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card rounded-5">
          <img src="/static/images/tiktok.jpeg" class="card-img-top rounded-5" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tiktok</h5>
            <p class="card-text">Tiktok trends coming soon!</p>
            <a href="#" class="btn btn-primary rounded-5" disabled>Learn more</a>
          </div>
        </div>
      </div>
      <footer class="footer bg-secondary rounded-5">
        <div class="container">
          <p>&copy; 2023 Team 7554, CST 205: Multimedia Design and Programming </p>
          <p>Created by Aaron Johnson, Mikaela Lagumbay, Sebastian Ramos, and Eunice Sosa</p>
        </div>
      </footer>
      {{ bootstrap.load_js() }}
</body>
</html>